/* Font Style CDN */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  outline: 0;
  line-height: 1.1;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-optical-sizing: auto;
  box-sizing: border-box;
  list-style: none;
  align-items: center;
  text-decoration: none;
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;

  /* Font Style */
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text_color);
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--color_warning);
  border-radius: 50%;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Variables */
:root {
  /* Bg Colors */
  --default_bg: #171717;
  --deep_bg: #111111;
  --nav_bg: #111111;
  --light_bg: #1e1d1d;
  --bg_variant: #1b1b1b;
  --default_btn: #6c63ff;
  --danger_btn: #f75842;
  --danger_variant_btn: #f36a58;
  --color_success: #8fd8cc;
  --color_warning: #f7c94b;
  --text_color: #f8fafc;

  --nav_bg: rgba(0, 0, 0, 0.2); /* adds transparency so blur can show through */

  --transition: all 300ms ease;
  --box_shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
  --opacity: 0.9;

  --border_radius: 0.5rem;
}

/* General Font Styles */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

p, a {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

textarea:focus {
  border: 0.5px solid var(--text_color);
}

/* Button Styles */
#default_btn {
  background-color: var(--color_success);
  padding: 0.3rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  color: var(--deep_bg);
  font-weight: 900;
}

#default_btn:hover {
  background-color: var(--text_color);
  color: var(--default_bg);
  cursor: pointer;
}

#danger_btn {
  background-color: var(--danger_btn);
  padding: 0.3rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  font-weight: 500;
}

#danger_btn:hover {
  background-color: var(--danger_variant_btn);
  cursor: pointer;
}

/* Nav Styles */
nav {
  background-color: var(--nav_bg);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 17.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 200;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
  height: 3rem;
  transition: var(--transition);
}

#main_nav_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  margin-top: 1rem;
  direction: rtl;
}

#all_tribesmen_list:hover {
  box-shadow: var(--box_shadow);
}


.user_meta {
  display: grid;
  gap: .5rem;
  margin: .7rem 0;
  transition: var(--transition);
}

.user_meta p:hover {
  transform: translateX(.5rem);
}
.user_meta span:hover {
cursor: pointer;
  box-shadow: var(--box_shadow);

}

/* logo styling */
.logo {
  margin-bottom: 1rem;
  position: sticky;
  z-index: 1;
  background-color: inherit;
  text-align: right;
  display: flex;
  gap: 0.5rem;
}

.logo:hover {
  cursor: pointer;
  transform: translateX(-0.3rem);
  box-shadow: var(--box_shadow);
}

/* wrapper for logo + menu */
.logo_menu_wrapper {
  position: relative;
  display: inline-block;
}

.menu_icon i {
  font-size: 0.7rem;
  transition: var(--transition);
  animation: zoomPulse 3.5s infinite ease-in-out;
}

.menu_icon i:hover {
  color: var(--color_warning);
}

@keyframes zoomPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    color: var(--color_warning);
  }
}

/* Hide menu by default */
.header_menus {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  pointer-events: none;
  direction: ltr;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.header_menus.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

/* Menu items */
.header_menu_items ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

.header_menu_items ul li {
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  margin: 0.2rem 0;
  border: 0.2px solid var(--deep_bg);
  border-radius: 2px;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Staggered delays */
.header_menu_items ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.header_menu_items ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.header_menu_items ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.header_menu_items ul li:nth-child(4) {
  transition-delay: 0.4s;
}

/* Link styling */
.header_menu_items ul li a {
  text-decoration: none;
  background-color: var(--color_warning);
  padding: 0.5rem 3.5rem;
  border-radius: 0.2rem;
  color: var(--deep_bg);
  font-weight: bolder;
  opacity: 0.8;
  display: block;
}

.header_menu_items ul li a:hover {
  opacity: 1;
  box-shadow: var(--box_shadow);
  transform: translateX(-0.5rem);
}

nav:hover {
  box-shadow: var(--box_shadow);
}

.user_details a {
  display: flex;
  gap: 0.5rem;
}

.user_details a:hover {
  transform: translateX(0.2rem);
  -webkit-transform: translateX(0.2rem);
  -moz-transform: translateX(0.2rem);
  -ms-transform: translateX(0.2rem);
  -o-transform: translateX(0.2rem);
}

.user_profile_pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  border: 0.09rem solid var(--danger_btn);
}

.user_profile_pic:hover {
  border: 0.09rem solid var(--color_warning);
}

.user_profile_pic img {
  width: 100%;
  height: 100%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.user_profile_pic img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  filter: saturate(0);
  -webkit-filter: saturate(0);
}

.user_name {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.user_name h4 {
  font-weight:500 ;
}

.user_name:hover h4 {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  color: var(--color_warning);
}

.nav_logo a {
  display: flex;
  align-items: center;
}

.nav_logo a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.nav_logo a p {
  font-size: 0.6rem;
}

.nav_items {
  display: flex;
  gap: 0.9rem;
}

.nav_items ul {
  display: flex;
  gap: 0.5rem;
}

#logout {
  background-color: var(--danger_btn);
  padding: 0.1rem 0.1rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.nav_items li:hover {
  transform: translate(-0.2rem);
  -webkit-transform: translate(-0.2rem);
  -moz-transform: translate(-0.2rem);
  -ms-transform: translate(-0.2rem);
  -o-transform: translate(-0.2rem);
}

.nav_items ul li a:hover {
  color: var(--color_warning);
}

span {
  background-color: var(--danger_btn);
  padding: 0.1rem 0.1rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

/* Body Styles */
body {
  background-color: var(--default_bg);
}

/* Main Section Styles */
main {
  margin: 4rem 2rem;
  display: flex;
  justify-content: space-around;
  padding: 0.2rem 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  align-items: flex-start;
}

.main_content {
  width: 45rem;
}

main .main_left,
.main_right {
  display: none;
}

#public_main {
  margin: 4rem 15rem;
  min-width: 40rem;
}

.alert_message {
  margin-top: 1rem;
  z-index: 999;
  opacity: 0.8;
  width: 20rem;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  position: fixed;
  right: -1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transform: translateX(100%);
  animation: moveleft 0.3s linear forwards;
}

@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}

.alert_message::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  animation: anim 10s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

.alert_message p {
  font-size: 0.9rem;
}

.alert_message.success p {
  color: var(--deep_bg);
  font-weight: 800;
}

.alert_message.error p {
  color: var(--text_color);
  font-weight: 600;
}

.alert_message.error {
  background-color: var(--danger_btn);
}

.alert_message.success {
  background-color: var(--color_warning);
}

/* Profile Section Styles */
.user_section {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.1px solid var(--text_color);
}

.user_information {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.user_picture {
  width: 17rem !important;
  height: 16.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  border: 0.1px solid var(--deep_bg);
  cursor: pointer;
}

.user_picture:hover {
  border: 1px solid var(--color_warning);
  box-shadow: var(--box_shadow);
}

.user_picture img {
  width: 100%;
  height: 100%;
}

.user_info {
  display: grid;
  gap: 0.5rem;
  width: 30rem;
}

.name {
  display: flex;
  gap: 0.2rem;
  align-items: flex-start;
}

.name h3 {
  font-weight: bolder;
}

.about p {
  font-size: 1rem;
}

.followers_and_posts p {
  color: var(--color_warning);
  font-size: 0.8rem;
}

.verified {
  display: grid;
  place-items: center;
}

.verified_desc p {
  font-size: 0.7rem;
  background-color: var(--deep_bg);
  padding: 0.2rem 0.3rem;
  border-start-start-radius: 0.2rem;
  margin-bottom: -2rem;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
}

.verified_icon i {
  cursor: pointer;
  color: var(--color_warning);
  display: inline-block;
}

.verified_icon i:hover {
  color: var(--text_color);
}
.verified_icon:hover + .verified_desc p {
  opacity: 1;
}

.email {
  text-transform: lowercase;
}

.email:hover {
  transform: translateX(0.3rem);
  -webkit-transform: translateX(0.3rem);
  -moz-transform: translateX(0.3rem);
  -ms-transform: translateX(0.3rem);
  -o-transform: translateX(0.3rem);
}

.email a:hover {
  color: var(--color_warning);
}

.user_action_buttons {
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

#edit_icon {
  color: var(--color_warning);
}

#edit_icon:hover {
  color: var(--text_color);
}

.follow {
  display: inline-block;
}

.dashboard {
  padding: 1rem 0 0 0; /* keeps the padding */
  width: 100%; /* ensures the container takes up full width of the parent */
  box-sizing: border-box; /* ensures padding is included in the width calculation */
}

.my_posts_links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.my_posts_links a:hover {
  color: var(--color_warning);
  transform: translateX(0.2rem);
  -webkit-transform: translateX(0.2rem);
  -moz-transform: translateX(0.2rem);
  -ms-transform: translateX(0.2rem);
  -o-transform: translateX(0.2rem);
}

.my_posts {
  display: grid;
  gap: 0.5rem;
  align-items: center;
}

input[type="submit"][value="Post"] {
  background-color: var(--color_warning);
  color: var(--deep_bg);
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  transition: var(--transition);
  font-weight: 700;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.search_box input {
  width: 90%;
  align-items: center;
  margin: 1rem 0;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.9rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: var(--deep_bg);
  font-size: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.search_box input:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.search_box input:focus {
  border: 1px solid var(--text_color);
}

.post {
  display: grid;
  gap: 0.3rem;
  background-color: var(--light_bg);
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.post:hover {
  box-shadow: var(--box_shadow);
  cursor: pointer;
}

.user_details {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  background-color: rgb(26, 26, 24);
  padding: .3rem 0;
  border-top-right-radius: var(--border_radius);
  border-top-left-radius: var(--border_radius);
}

.user_details_post_time {
  direction: rtl;
}

.user_details_post_time p {
  font-size: 0.7rem;
  font-weight: 600;
  opacity: 0.4;
}

.post_reactions {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  padding: 0;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.post_reaction {
  display: grid;
  place-items: center;
}

.post_reaction_icon {
  cursor: pointer;
  display: inline-block;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}

.post_reaction_icon p {
  font-size: 0.8rem;
}

.post_reaction_desc p {
  opacity: 0;
  font-size: 0.8rem;
  background-color: var(--deep_bg);
  padding: 0.2rem 0.3rem;
}

.post_images_container {
  overflow: hidden;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  cursor: grab;
  padding-right: 15rem !important;
  padding-left: 5rem !important;
}

.post_images_container.dragging {
  cursor: grabbing;
  user-select: none;
}

.post_images {
  display: flex;
  gap: 0.5rem;
  scroll-snap-type: x mandatory;
  width: fit-content;
  scroll-behavior: smooth;
}

.post_images img {
  max-height: 30rem;
  max-width: 30rem;
  min-width: 18rem;
  object-fit: cover;
  scroll-snap-align: center;
  flex-shrink: 0;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  cursor: grab;
  -webkit-user-drag: none;
  user-select: none;
  cursor: grab;
  opacity: 0.2;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.post_images img.active {
  transform: scale(1.02);
  opacity: 1;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.post_images_container.dragging img {
  cursor: grabbing;
}

.post_images img.active:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: var(--box_shadow);
}

.post_images_container::-webkit-scrollbar {
  display: none;
}

.post_text {
  margin-top: 0.5rem;
}

.post_reaction_icon:hover + .post_reaction_desc p {
  opacity: 1;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

#like_icon:hover {
  color: var(--color_warning);
}

#comment_icon:hover {
  color: var(--color_success);
}

#delete_icon {
  color: var(--danger_btn);
}

#delete_icon:hover {
  color: var(--text_color);
}

.like_icons {
  display: inline-block;
}

.like_icon {
  display: inline-block; /* Ensure the like icon is visible by default */
}

.like_icon_is_clicked i {
  color: var(--danger_btn);
}

.comment_input {
  margin-bottom: 1.5rem;
  width: 100%;
}

.comment_field {
  display: grid;
  gap: 0.02rem;
  margin-bottom: 0.5rem;
}

.comment_field textarea {
  min-height: 5rem;
  width: 99%;
  margin: auto 0.2rem;
  resize: none;
  color: var(--text_color);
  background-color: var(--default_bg);
  font-size: 0.9rem;
  padding: 0.2rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

input[type="submit"] {
  color: var(--deep_bg);
  padding: 0.2rem 1rem;
  font-weight: 800;
  border: none;
  border-radius: var(--border_radius);
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
}

input[type="submit"]:hover {
  background-color: var(--text_color);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.comment_section {
  display: grid;
  gap: 2px;
  max-height: 30rem;
  overflow-y: scroll;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  margin-bottom: -0.2rem;
}

/* post review */
.comment {
  background-color: var(--default_bg);
  margin: 0.1rem;
  padding: 0.2rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  opacity: 0.7;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.comment:hover {
  opacity: 1;
}

.comment_text {
  margin-left: 3.5rem;
}

.comment_text {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  gap: 0.5rem;
}

.comment_text .post_reaction {
  margin-left: 0;
}

.post_input,
.floating_post_input {
  border-bottom: 1px solid var(--text_color);
  margin-top: 1.5rem;
}

.post_input {
  width: 100%;
}

.floating_post_input {
  margin-bottom: 2rem;
}

.post_field {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.post_field:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.post_field textarea {
  min-height: 8rem;
  max-height: 15rem;
  width: 100%;
  font-size: 1rem;
  resize: none; /* Disable manual resizing */
  color: var(--text_color);
  background-color: var(--light_bg);
  padding: 0.2rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  overflow-y: auto; /* Add scroll when content exceeds max-height */
}

.post_actions {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

.post_actions i {
  font-size: 1.5rem;
}

.followings {
  display: grid;
  gap: 0.2rem;
  max-height: 50rem;
  overflow: scroll;
  scroll-behavior: smooth;
}

.followings .user_details a {
  gap: 1.5rem;
}

.followings .verified {
  margin-left: -2rem;
}

.floating_input {
  position: fixed;
  bottom: 5rem; /* 2rem above the bottom of the viewport */
  right: 18rem;
  margin-bottom: 0; /* margin-bottom is unnecessary when using fixed positioning */
  display: flex;
  justify-content: flex-end;
  z-index: 999; /* Ensure it's above other content */
}

.floating_input .post_field {
  margin-bottom: 0;
  width: 35rem;
  margin-right: 2rem;
}

.floating_input .post_input {
  border: none;
}

.floating_post_input textarea {
  background-color: var(--deep_bg);
  height: 30rem;
}

.floating_post_input textarea:hover {
  box-shadow: var(--box_shadow);
}

.floating_post_input {
  border-bottom: none;
}
.floating_icons {
  position: absolute;
  display: inline-block;
  bottom: 0;
  opacity: 0.5;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.floating_icons:hover {
  cursor: pointer;
  box-shadow: var(--box_shadow);
  opacity: 1;
  transform: translateX(-0.3rem);
  -webkit-transform: translateX(-0.3rem);
  -moz-transform: translateX(-0.3rem);
  -ms-transform: translateX(-0.3rem);
  -o-transform: translateX(-0.3rem);
}

.floating_icons i {
  background-color: var(--danger_btn);
  padding: 0.3rem 0.5rem 0.3rem 0.6rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.main_log {
  background-color: var(--deep_bg);
  padding: 5rem;
  margin-top: 3rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.main_log:hover {
  box-shadow: var(--box_shadow);
}

.hero_section {
  display: grid;
  gap: 0.5rem;
}

.hero_title h1 {
  font-size: 2.7rem;
}

.standard_login {
  display: grid;
  gap: 0.5rem;
  margin: 1rem;
}

.standard_login textarea {
  height: 6rem;
  border-radius: var(--border_radius);
  border: none;
  background-color: var(--light_bg);
  padding: 0.5rem;
  width: 100%;
  resize: none;
}

.standard_login input,
select {
  height: 2rem;
  border-radius: var(--border_radius);
  border: none;
  background-color: var(--light_bg);
  padding: 0.5rem;
  width: 100%;
}

.standard_login input:focus,
select:focus {
  border: 1px solid var(--text_color);
  transform: translateX(0.5rem);
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  -o-transform: translateX(0.5rem);
}

.standard_login input:hover,
select:hover {
  background-color: var(--default_bg);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

input[type="submit"][value="Login"] {
  background-color: var(--color_warning);
  color: var(--deep_bg);
  cursor: pointer;
  transition: var(--transition);
  width: 3rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

input[type="submit"][value="Comment"] {
  background-color: var(--color_warning);
  color: var(--deep_bg);
  cursor: pointer;
  transition: var(--transition);
  width: 5.6rem;
  margin-top: 0.5rem;
  font-weight: 700;
  text-align: center;
}

input[type="submit"][value="Update"] {
  background-color: var(--color_warning);
  color: var(--deep_bg);
  cursor: pointer;
  transition: var(--transition);
  width: 5rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

input[type="submit"][value="Update"]:hover {
  background-color: var(--text_color);
}

input[type="submit"][value="Login"]:hover {
  background-color: var(--text_color);
}

input[type="submit"][value="Register"] {
  background-color: var(--color_warning);
  color: var(--deep_bg);
  cursor: pointer;
  transition: var(--transition);
  width: 4rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

input[type="submit"][value="Register"]:hover {
  background-color: var(--text_color);
}

.confirm_human {
  display: none;
}

.log_session {
  margin: 1rem;
}

.log_container {
  display: grid;
  gap: 0.5rem;
  margin: 2.5rem 0;
}

.log_container span {
  background-color: transparent;
}

.google,
.apple {
  background-color: var(--default_bg);
  width: 15rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.google:hover,
.apple:hover {
  transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem);
  background-color: var(--light_bg);
}

.loginorout {
  display: flex;
  gap: 0.5rem;
}

.loginorout p {
  opacity: 0.5;
}

.loginorout a {
  color: var(--color_warning);
}

.loginorout a:hover {
  transform: translateX(0.5rem);
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  -o-transform: translateX(0.5rem);
}

.extras {
  margin-top: 7rem;
}

.extras p {
  font-size: 0.8rem;
}

.extras a {
  color: var(--danger_btn);
}

.post_field input {
  background-color: var(--default_bg);
  padding: 0.5rem;
  border-radius: var(--border_radius);
  -webkit-border-radius: var(--border_radius);
  -moz-border-radius: var(--border_radius);
  -ms-border-radius: var(--border_radius);
  -o-border-radius: var(--border_radius);
}

.post_field input:focus {
  border: 1px solid var(--text_color);
}

.editing_profile {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

label i {
  font-size: 2rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

label i:hover {
  color: var(--color_warning);
  cursor: pointer;
}

main .my_posts_contents {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

main .my_posts_contents:hover {
  box-shadow: var(--box_shadow);
}

/* Footer */
footer {
  background: var(--nav_bg);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

footer:hover {
  transform: translateX(0.5rem);
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  -o-transform: translateX(0.5rem);
}

footer a {
  font-size: 0.7rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

footer a:hover {
  color: var(--color_warning);
  filter: saturate(0.7);
  -webkit-filter: saturate(0.7);
}

/* Default icon color */
.fa-heart.default {
  color: #ccc;
  /* Light gray or default color */
}

/* Liked icon color */
.fa-heart.liked {
  color: red;
  /* Red when liked */
}




































/* ---------------------------------- TABLET -------------------------------------- */

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /* General Font Styles */
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  p, a {
    font-size: 0.9rem;
  }


  /* Button Styles */
  #default_btn {
    font-weight: 800;
  }

  #danger_btn {
    font-weight: 800;
  }

  /* Nav Styles */
  nav {
    padding: 0.2rem 0.2rem;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
  }

  /* Menu items */
  .header_menu_items ul {
    margin: 0.1rem;
  }

  .header_menu_items ul li {
    margin: 0.1rem 0;
  }

  /* Link styling */
  .header_menu_items ul li a {
    padding: 0.6rem 3rem;
  }

  .user_profile_pic {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.06rem solid var(--danger_btn);
  }

  .alert_message {
    margin-top: -0.4rem;
  }

  /* Main Section Styles */
  main {
    margin: 4.5rem 0.2rem;
    padding: 0.2rem 0;
  }

  .main_content {
    width: 100%;
  }

  main .main_left,
  .main_right {
    display: none;
  }

  #public_main {
    margin: 4rem 5rem;
    min-width: 30rem;
  }

  /* Profile Section Styles */
  .user_section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.08px solid var(--text_color);
  }

  .user_picture {
    width: 16.5rem !important;
    height: 17rem;
  }


.about p {
  font-size: 1rem;
}

.followers_and_posts p {
  color: var(--color_warning);
  font-size: 0.8rem;
}


  .my_posts_links {
    gap: 1.5rem;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
  }

  .search_box input {
    width: 85%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .search_box input:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .user_details_post_time p {
    opacity: 0.7;
  }

  .post_images_container {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }

  .post_images {
    display: flex;
    gap: 0.5rem;
    scroll-snap-type: x mandatory;
    width: fit-content;
    scroll-behavior: smooth;
  }

  .post_images img {
    max-height: 25rem;
    max-width: 25rem;
    min-width: 20rem;
  }

  .comment_input {
    margin-bottom: 2rem;
  }

  .comment_field {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.02rem;
    margin-bottom: 0.5rem;
    margin: 0 0.2rem;
  }

  .comment_field textarea {
    width: 99%;
  }

  .comment_text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 0.5rem; /* Space between comment and delete button */
  }

  input[type="submit"] {
    color: var(--deep_bg);
    padding: 0.2rem 0.5rem;
    background-color: var(--color_warning);
  }

  .comment_section {
    max-height: 50rem;
  }

  .comment_text {
    margin-left: 3rem;
  }

  .post_input,
  .floating_post_input {
    border-bottom: 1px solid var(--text_color);
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  .post_input {
    margin-bottom: -0.09rem;
  }

  .post_field textarea {
    min-height: 10rem;
    max-height: 20rem;
    font-size: .95rem;
  }

  .post_actions i {
    font-size: 1.5rem;
  }

  .post_field:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .followings {
    max-height: 90rem;
  }

  .followings .user_details a {
    gap: 1rem;
  }

  .followings .verified {
    margin-left: -1rem;
  }

  .floating_input {
    position: fixed;
    bottom: 3rem; /* 2rem above the bottom of the viewport */
    right: 0rem;
  }

  .floating_input .post_field {
    margin-bottom: 0;
    width: 30rem;
    margin-right: 2rem;
  }

  .floating_post_input textarea {
    height: 20rem;
  }

  .floating_post_input textarea:hover {
    box-shadow: var(--box_shadow);
  }

  .floating_post_input {
    border-bottom: none;
  }

  .main_log {
    padding: 3rem;
    margin: 2rem 0.5rem;
  }

  .hero_title h1 {
    font-size: 2.5rem;
  }

  .log_session {
    margin: 1rem;
  }

  .log_container {
    display: grid;
    gap: 0.5rem;
    margin: 3rem 0;
  }

  .editing_profile {
    margin-bottom: 2rem;
  }

  .extras {
    margin-top: 6rem;
  }

  .extras p {
    font-size: 0.8rem;
  }

  /* Default icon color */
  .fa-heart.default {
    color: #ccc;
    /* Light gray or default color */
  }

  /* Liked icon color */
  .fa-heart.liked {
    color: red;
    /* Red when liked */
  }

  .standard_login textarea {
    height: 6rem;
    border-radius: var(--border_radius);
    border: none;
    background-color: var(--light_bg);
    padding: 0.5rem;
    width: 70%;
    resize: none;
  }

  .standard_login input,
  select {
    height: 2rem;
    border-radius: var(--border_radius);
    border: none;
    background-color: var(--light_bg);
    padding: 0.5rem;
    width: 70%;
  }
}


























/* ---------------------------------- MOBILE  -------------------------------------- */

@media only screen and (max-width: 599px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  p, a {
    font-size: .9rem;
  }

  /* Nav Styles */
  nav {
    padding: 0.2rem 0.2rem;
    height: 3rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
    height: 2.5rem;
  }

  .nav_items {
    display: none;
  }

  /* Link styling */
  .header_menu_items ul li a {
    padding: 0.6rem 3rem;
  }

  .user_profile_pic {
    width: 2rem;
    height: 2rem;
  }

  #dashboard {
    margin-top: 3rem;
  }

  /* Main Section Styles */
  main {
    margin: 3.5rem 0.2rem;
    overflow-x: hidden;
  }

  .main_content {
    width: 100%;
  }

  main .main_left,
  .main_right {
    display: none;
  }

  #public_main {
    margin: 3rem 0.2rem;
    min-width: 10rem;
  }

  .alert_message {
    margin-top: -0.5rem;
  }

  /* Profile Section Styles */
  .user_section {
    padding: 0.5rem 0;
    margin-bottom: 2rem;
  }

  .user_information {
    display: grid;
    gap: 0.5rem;
  }

  .user_picture {
    width: 14.5rem !important;
    height: 15rem;
    margin: 0 2.55rem;
  }

  
.about p {
  font-size: 1rem;
}

.followers_and_posts p {
  color: var(--color_warning);
  font-size: 0.8rem;
}



  .my_posts_links {
    gap: 1rem;
    margin-bottom: 0.7rem;
    margin-top: -2rem;
  }

  .search_box {
    margin-bottom: 0.5rem;
  }

  .search_box input {
    width: 100%;
  }

  .search_box input:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .post_images_container {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
  }

  .post_images {
    display: flex;
    gap: 0.5rem;
    scroll-snap-type: x mandatory;
    width: fit-content;
    scroll-behavior: smooth;
  }

  .post_images img {
    max-height: 20rem;
    max-width: 20rem;
    min-width: 10rem;
  }

  .comment_input {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
  }

  .comment_field {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.02rem;
    margin: 1rem 0.2rem;
  }

  .comment_field textarea {
    width: 99%;
  }

  input[type="submit"] {
    color: var(--deep_bg);
    background-color: var(--color_warning);
    padding: 0.2rem 0.5rem;
  }

  .comment_section {
    max-height: 70rem;
  }

  .comment_text {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .post_input,
  .floating_post_input {
    border-bottom: 1px solid var(--text_color);
    margin-bottom: 3rem;
    margin-top: 1.5rem;
  }

  .post_field textarea {
    min-height: 10rem;
    max-height: 30rem;
    font-size: .9rem;
  }

  .followings {
    max-height: 70rem;
  }

  .followings .user_details a {
    gap: 1rem;
  }

  .followings .verified {
    margin-left: -1rem;
  }

  .floating_input {
    position: fixed;
    bottom: 3rem; /* 2rem above the bottom of the viewport */
    right: 0rem;
  }

  .floating_input .post_field {
    margin-bottom: 0;
    width: 90vw;
    margin-right: 0;
    margin: auto 1rem;
  }

  .floating_post_input textarea {
    height: 15rem;
  }

  .floating_post_input {
    border-bottom: none;
  }

  .main_log {
    padding: 0.5rem;
    margin: 3rem 0.1rem;
  }

  .hero_title h1 {
    font-size: 1.5rem;
  }

  .log_session {
    margin: 0.5rem;
  }

  .log_container {
    display: grid;
    gap: 0.5rem;
    margin: 3rem 0;
  }

  .editing_profile {
    margin-bottom: 1rem;
  }

  .extras {
    margin-top: .9rem;
  }

  .extras p {
    font-size: 0.8rem;
  }

  /* Default icon color */
  .fa-heart.default {
    color: #ccc;
    /* Light gray or default color */
  }

  /* Liked icon color */
  .fa-heart.liked {
    color: red;
    /* Red when liked */
  }

  .standard_login textarea {
    height: 6rem;
    border-radius: var(--border_radius);
    border: none;
    background-color: var(--light_bg);
    padding: 0.5rem;
    width: 100%;
    resize: none;
  }

  .standard_login input,
  select {
    height: 2rem;
    border-radius: var(--border_radius);
    border: none;
    background-color: var(--light_bg);
    padding: 0.5rem;
    width: 100%;
  }
}
